In [1]:
import pandas as pd
import numpy as np

In [2]:
datasidney = pd.read_csv("weatherAUS.csv")
datanodate = datasidney.iloc[0:3345,1:19]
datasidney.tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN,NaN

In [3]:
datasidney.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000,142193.000000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339,2.360682
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000,0.000000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000,371.000000

In [4]:
np.sum(datasidney.isnull())

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RISK_MM           3267
RainTomorrow      3267
dtype: int64

In [5]:
datasidney['Rainfall']=datasidney['Rainfall'].fillna(datasidney['Rainfall'].mean())
datasidney['WindSpeed9am']=datasidney['WindSpeed9am'].fillna(datasidney['WindSpeed9am'].mean())
datasidney['WindSpeed3pm']=datasidney['WindSpeed3pm'].fillna(datasidney['WindSpeed3pm'].mean())
datasidney['Humidity9am']=datasidney['Humidity9am'].fillna(datasidney['Humidity9am'].mean())
datasidney['Humidity3pm']=datasidney['Humidity3pm'].fillna(datasidney['Humidity3pm'].mean())
datasidney['Pressure9am']=datasidney['Pressure9am'].fillna(datasidney['Pressure9am'].mean())
datasidney['Pressure3pm']=datasidney['Pressure3pm'].fillna(datasidney['Pressure3pm'].mean())
datasidney['Temp9am']=datasidney['Temp9am'].fillna(datasidney['Temp9am'].mean())
datasidney['Temp3pm']=datasidney['Temp3pm'].fillna(datasidney['Temp3pm'].mean())
datasidney['MinTemp']=datasidney['MinTemp'].fillna(datasidney['MinTemp'].mean())
datasidney['MaxTemp']=datasidney['MaxTemp'].fillna(datasidney['MaxTemp'].mean())
datasidney['WindGustSpeed']=datasidney['WindGustSpeed'].fillna(datasidney['WindGustSpeed'].mean())

In [6]:
from scipy.stats import mode
datasidney['RainTomorrow'] = datasidney['RainTomorrow'].fillna(datasidney['RainTomorrow']).dropna().mode()[0]
datasidney['WindDir9am']=datasidney['WindDir9am'].fillna(datasidney['WindDir9am']).dropna().mode()[0]
datasidney['WindDir3pm']=datasidney['WindDir3pm'].fillna(datasidney['WindDir3pm']).dropna().mode()[0]
datasidney['WindGustDir']=datasidney['WindGustDir'].fillna(datasidney['WindGustDir']).dropna().mode()[0]
datasidney['RainToday']=datasidney['RainToday'].fillna(datasidney['RainToday']).dropna().mode()[0]

In [7]:
np.sum(datasidney.isnull())

Date                 0
Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation      62790
Sunshine         69835
WindGustDir          0
WindGustSpeed        0
WindDir9am           0
WindDir3pm           0
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am          0
Humidity3pm          0
Pressure9am          0
Pressure3pm          0
Cloud9am         55888
Cloud3pm         59358
Temp9am              0
Temp3pm              0
RainToday            0
RISK_MM           3267
RainTomorrow         0
dtype: int64

In [9]:
datasidney = datasidney.drop(columns=['Sunshine','Evaporation','Cloud3pm','Cloud9am','Location','RISK_MM','Date','WindDir9am','WindGustDir'],axis=1)

In [10]:
datasidney = datasidney.dropna(subset=['RainTomorrow'])

In [11]:
from scipy.stats import stats
z= np.abs(stats.zscore(datasidney._get_numeric_data()))
print(z)
datasidney=datasidney[(z<3).all(axis=1)]
print(datasidney.shape)
datasidney2= pd.DataFrame(datasidney)

[[1.89446615e-01 4.53363105e-02 2.10071794e-01 ... 1.22388211e+00
  1.40531282e-02 1.70232282e-02]
 [7.53100728e-01 2.65043084e-01 2.81649838e-01 ... 1.11883930e+00
  3.24642790e-02 3.81984952e-01]
 [1.10901003e-01 3.49692009e-01 2.81649838e-01 ... 9.83784264e-01
  6.21684769e-01 2.21401794e-01]
 ...
 [1.06728318e+00 5.18989861e-01 2.81649838e-01 ... 2.31711109e-01
  6.96308433e-01 6.44757393e-01]
 [6.90264238e-01 5.33098015e-01 2.81649838e-01 ... 1.86692762e-01
  2.93157571e-01 6.30158924e-01]
 [4.25083451e-01 2.10513377e-14 2.81649838e-01 ... 3.96778381e-01
  3.08663373e-01 1.14362992e-01]]
(138208, 15)

In [12]:
datasidney.tail()

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
145455,2.8,23.400000,0.0,31.00000,SE,13.0,11.0,51.0,24.0,1024.6,1020.3,10.1,22.4,No,No
145456,3.6,25.300000,0.0,22.00000,SE,13.0,9.0,56.0,21.0,1023.5,1019.1,10.9,24.5,No,No
145457,5.4,26.900000,0.0,37.00000,SE,9.0,9.0,53.0,24.0,1021.0,1016.8,12.5,26.1,No,No
145458,7.8,27.000000,0.0,28.00000,SE,13.0,7.0,51.0,24.0,1019.4,1016.5,15.1,26.0,No,No
145459,14.9,23.221348,0.0,40.03523,SE,17.0,17.0,62.0,36.0,1020.2,1017.9,15.0,20.9,No,No

In [13]:
datasidney['RainToday'].replace({'No': 0, 'Yes': 1},inplace = True)
datasidney['RainTomorrow'].replace({'No': 0, 'Yes': 1},inplace = True)

In [18]:
from sklearn import preprocessing
from sklearn.preprocessing import normalize
xx= datasidney.drop(columns=['WindDir3am'],axis=1)
xnorm = normalize(datasidney,norm='l2')
xnorm = pd.DataFrame(xnorm)
xnorm.tail()

KeyError: "['WindDir3am'] not found in axis"